*.class
SPCC/1. Lexical Analyzer/function.txt
SPCC/1. Lexical Analyzer/identifier.txt
SPCC/1. Lexical Analyzer/keyword.txt
SPCC/1. Lexical Analyzer/operator.txt
SPCC/1. Lexical Analyzer/specialSym.txt
SPCC/4. Lex-YACC/calc
SPCC/4. Lex-YACC/sql
SPCC/2. Macro/Full/ala.txt
SPCC/2. Macro/Full/dpt.txt
SPCC/2. Macro/Full/mdt.txt
SPCC/2. Macro/Full/mnt.txt
SPCC/2. Macro/Full/pass1_output.txt
SPCC/2. Macro/Full/pass2_output.txt
SPCC/2. Macro/Pass1 Only/ala.txt
SPCC/2. Macro/Pass1 Only/dpt.txt
SPCC/2. Macro/Pass1 Only/mdt.txt
SPCC/2. Macro/Pass1 Only/mnt.txt
SPCC/2. Macro/Pass1 Only/pass1_output.txt
SPCC/2. Macro/Pass2 Only/pass2_output.txt
SPCC/1. Lexical Analyzer/output.txt
SPCC/1. Lexical Analyzer/constant.txt
SPCC/1. Lexical Analyzer/lexical_input - Copy (2).txt
SPCC/1. Lexical Analyzer/lexical_input - Copy.txt
SPCC/2. Assembler/Pass1 only/literal.txt
SPCC/2. Assembler/Pass1 only/symbol.txt
SPCC/2. Assembler/Pass1 only/twopass_output.txt